# 1
x = 3 ----> floata çevirelim. Çevirdikten sonra veri tipinide yazdıralım.

y = 4.5 -----> integere çevirelim. Çevirdikten sonra veri tipinide yazdıralım.

z = "8" -----> integera çevirelim. Çevirdikten sonra veri tipinide yazdıralım.

a = "12" -----> floata çevirelim. Çevirdikten sonra veri tipinide yazdıralım.

b = "46.8" ------> integera çevirelim. Çevirdikten sonra veri tipinide yazdıralım.

In [2]:
x=3
x = float(x)
print(type(x))

<class 'float'>

In [1]:
y=4.5
y = int(y)
print(type(y))

<class 'int'>

In [4]:
z = "8"
z = int(z)
print(type(z))

<class 'int'>

In [5]:
a = "12"
a = float(a)
print(type(a))

<class 'float'>

In [6]:
b = "46.8"
b = int(float(b))
print(type(b))

<class 'int'>

# 2 
İsimlerden oluşan üç değişkene yaş değerleri atanır. Belirlenen üç değişken birbiriyle karşılaştırma operatörleri ile karşılaştırılır. Bu karşılaştırmalara mantıksal operatörler de eklenir.

In [2]:
sila = 18
ela = 9
elf = 21

In [3]:
elf > sila

True

In [4]:
sila < ela

False

In [5]:
elf > sila and sila < ela

False

In [7]:
elf < sila or ela < elf

True

# 3
Kullanıcıdan iki değer girmesini istenir. Girilen değerlerin toplama, çıkarma, çarpma, bölme sonuçlarını yazdırılır.

In [12]:
sayi1 = float (input("Birinci sayiyi giriniz"))
sayi2 = float (input("Ikinci sayiyi giriniz"))

toplam = sayi1 + sayi2
fark = sayi1 - sayi2
carpim = sayi1* sayi2
bolum = sayi1 / sayi2

print("Toplam= ",toplam)
print("Fark= ", fark)
print("Carpim= ",carpim)
print("Bolum= ", bolum)

Birinci sayiyi giriniz 2
Ikinci sayiyi giriniz 5

Toplam=  7.0
Fark=  -3.0
Carpim=  10.0
Bolum=  0.4

# 4
Kullanıcıdan isim, yaş, şehir ve meslek bilgilerini istenir ve cevaplarını yazdırılır.

In [13]:
isim = input("Isminizi giriniz=")
yas = input("Yasinizi giriniz=")
sehir = input("Sehir giriniz=")
meslek = input("Mesleğinizi giriniz=")

print("isim=", isim)
print("Yas=", yas)
print("Sehir=", sehir)
print("Meslek=", meslek)

Isminizi giriniz= elif
Yasinizi giriniz= 21
Sehir giriniz= malatya
Mesleğinizi giriniz= yazılım mühendisi

isim= elif
Yas= 21
Sehir= malatya
Meslek= yazılım mühendisi

# 5
"Hi-Kod Veri Bilimi Atölyesi" ifadesini bir değişkene tanımlanır.


 1. İfadedeki her bir kelimeyi ("Hi-Kod", "Veri", "Bilimi", "Atölyesi") değişken içinden seçilir. 
 2. İfadeyi hepsini büyük harf olacak hale çevrilir. ("HI-KOD VERİ BİLİMİ ATÖLYESİ") 
 3. İfadeyi hepsini büyük harf olacak hale çevrilir.("hi-kod veri bilimi atölyesi") 

"0123456789" ifadesindeki yalnızca çift sayıları ve yalnızca tek sayıları seçilir. ("02468", "13579")

In [14]:
ifade = "Hi-Kod Veri Bilimi Atolyesi"
ifade.split()

['Hi-Kod', 'Veri', 'Bilimi', 'Atolyesi']

In [15]:
ifade.upper()

'HI-KOD VERI BILIMI ATOLYESI'

In [16]:
ifade.lower()

'hi-kod veri bilimi atolyesi'

In [17]:
rakamlar = "0123456789"

In [19]:
rakamlar[0::2]

'02468'

In [20]:
rakamlar[1::2]

'13579'